<section class="text-center position-relative">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/221.jpg');
        height: 180px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body  px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Sign up</h2>
                    <form action="/auth/signup" method="POST">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" placeholder="Username">Username</label>
                                    <input type="text" id="form3Example1" class="form-control" name="username" />
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" placeholder="URL Image">Profile
                                        Image</label>
                                    <input type="url" id="form3Example2" class="form-control" name="profileImg" />
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label">Email address</label>
                            <input type="email" id="form3Example3" class="form-control" name="email" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label">Password</label>
                            <input type="password" id="form3Example4" class="form-control" name="password" />
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-dark btn-block mb-4">
                            Sign up
                        </button>

                        {{#if errorMessage}}
                        <div id="errorMessage">
                            <p>{{errorMessage}}</p>
                        </div>
                        {{/if}}

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="bg-light text-center text-lg-start">

    <div class="text-center p-3 bg-dark text-white-50" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: Guzmán Ponce de León and David Pardo

    </div>

</footer>