{{!-- <div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Registro</h1>
            <hr>

            <form action="/auth/signup" method="POST">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="emailInput" class="form-label">Dirección de email</label>
                        <input type="email" class="form-control" id="emailInput" name="email">
                        <div class="form-text">Requerido.</div>
                    </div>
                    <div class="col">
                        <label for="pwdInput" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="pwdInput" name="password">
                        <div class="form-text">Requerido.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usernameInput" name="username">
                </div>

                <div class="mb-3">
                    <label for="imageInput" class="form-label">Imagen</label>
                    <input type="url" class="form-control" id="imageInput" name="profileImg">
                    <div class="form-text">Introduce la URL a la imagen que desees de perfil.</div>
                </div>

                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descriptionInput" rows="3" name="description"></textarea>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Completar registro</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>

</div> --}}

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 180px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body  px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Sign up</h2>
                    <form action="/auth/signup" method="POST">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1" class="form-control" />
                                    <label class="form-label" for="form3Example1" name="username"
                                        placeholder="Username">Username</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="url" id="form3Example2" class="form-control" />
                                    <label class="form-label" for="form3Example2" name="profileImg"
                                        placeholder="URL Image">Profile
                                        Image</label>
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" class="form-control" />
                            <label class="form-label" for="form3Example3">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" class="form-control" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>

                        {{#if errorMessage}}
                        <div id="errorMessage">
                            <p>{{errorMessage}}</p>
                        </div>
                        {{/if}}

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>