<div class="bg-cars pb-2">
    <div class="post-screen">
        <div class="container d-flex justify-content-center">
            <div>
                <h2>Make a post on the chosen car</h2>
                <form action="/post/submit-post/{{id}}" method="POST" class="d-flex justify-content-center mt-4">
                    <div class="card bg-light mb-3" style="width: 55rem">
                        <h5 class="card-header">
                            <label class="font-weight-bold" for="">Post's Title</label>
                            <input type="text" name="title" required="required" style="width: 30rem">
                        </h5>
                        <div class="card-body">
                            <h5 class="card-title">
                                <label for="">Description</label>
                                <textarea type="text" name="description" required="required"
                                    style="width: 30rem"></textarea>
                            </h5>
                            <div class="d-flex justify-content-center mt-5">
                                <button class="btn btn-dark btn-block mt-2 mx-2" type="submit">Post It!</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="bg-light text-center text-lg-start footer-page">

    <div class="text-center p-3 bg-dark text-white-50" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: Guzmán Ponce de León and David Pardo

    </div>

</footer>