h1 {
  font-family: orbitron;
  font-size: 80px;
  text-align: center;
  position: relative;
  padding-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: orbitron;
  position: relative;
  padding-top: 30px;
  text-align: center;
}

.body_bkg {
  background-image: url(../images/carretera\ bosque.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;

}

.post-screen {
  width: 100%;
  height: 80vh;
}

.bg-cars {
  background-image: url(../images/gradient-2.jpg);
  height: 100%;
  width: 100%;
  /* background-repeat: no-repeat; */
}

.search-bar {
  border: 1px solid white;
  background-color: rgba(240, 248, 255, 0);
  width: 90%;
  color: white;
}

.search-bar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */

}

.search-bar:focus::placeholder {
  color: black;
}

.search-bar2 {
  border: 1px solid black;
  background-color: rgba(240, 248, 255, 0);
  width: 90%;
}

.search-bar2::placeholder {
  color: black;
  opacity: 1;
}

.dropdown-menu a {

  color: rgba(155, 157, 158, 1)
}

.dropdown-menu {
  background-color: #212529;
}