<div class="body_bkg">
  <h1>ALL ABOUT CARS</h1>
  <h2>Get your favourite car and post about it!</h2>

  <div class="container mt-5">
    <form action="/cars" method="GET">
      <div class="input-group">
        <input name="search" type="text" class="form-control rounded" placeholder="Search your favourite car"
          aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-dark">Search</button>
      </div>
    </form>
  </div>
</div>

<footer class="bg-light text-center text-lg-start">

  <div class="text-center p-4 bg-dark text-white-50" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Guzmán Ponce de León and David Pardo

  </div>

</footer>