
h1 {
  font-family: orbitron;
  font-size: 80px;
  text-align: center;
  position: relative;
  padding-top: 80px;
}

h2 {
  font-family: orbitron;
  position: relative;
  margin-top: 30px;
  text-align: center;
}

.body_bkg {
  background-image: url(../images/carretera\ bosque.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.navBar-vh {
  height: 10vh;
}