/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

h1 {
  font-family: orbitron;
  font-size: 80px;
  text-align: center;
  position: relative;
  padding-top: 80px;
}

h2 {
  font-family: orbitron;
  position: relative;
  margin-top: 30px;
  text-align: center;
}

.body_bkg {
  background-image: url(../images/carretera\ bosque.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;


}

/* 
footer {
  width: 100%;
  bottom: 0%;
  height: 10vh;
  width: 100%;
  position: fixed;

} */

.navBar-vh {
  height: 10vh;
}